<div class="firmware-select">
    <div class="col router-image">
        &nbsp;
    </div>

    <div class="col firmware-selector">
        <form>
            <div class="row supplier">
                <label for="supplier">Hersteller</label>

                <select id="supplier" name="supplier">
                    <option value="" selected>Bitte auswählen</option>
                </select>
            </div>

            <div class="row device">
                <label for="device">Modell</label>

                <select id="device" name="device">
                    <option value="" selected>Bitte auswählen</option>
                </select>
            </div>

            <div class="row branch">
                <label for="branch">Branch</label>

                <select id="branch" name="branch">
                    <option value="" selected>Bitte auswählen</option>
                </select>
            </div>

            <div class="row type">
                <label for="type">Art</label>

                <select id="type" name="type">
                    <option value="" selected>Bitte auswählen</option>
                </select>
            </div>

            <div class="row revision">
                <label for="revision">Version</label>

                <select id="revision" name="revision">
                    <option value="" selected>Bitte auswählen</option>
                </select>
            </div>

            <p class="download">
                <a id="download" href="#" class="button">Download</a>
            </p>
        </form>
    </div>
</div>
